.increment-button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.increment-button:hover .square {
  border-color: var(--green);
  cursor: pointer;
}

.increment-button:hover p {
  cursor: pointer;
}

.increment-button p {
  font-size: 1.2rem;
}

.square {
  width: 17px;
  height: 17px;
  border: 2px solid var(--g200);
}
